@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pretendard';
  src: url('../../public/assets/font/Pretendard-Regular.ttf');
}

@font-face {
  font-family: 'IropkeBatang';
  src: url('../../public/assets/font/IropkeBatangM.ttf');
}

body {
  @apply font-custom;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html,
body,
input,
textarea,
button {
  font-family: 'Pretendard';
}

.bg-zigzag-pattern {
  background-image: url('/assets/images/landing/img_zigzag.png');
  background-repeat: repeat-x;
  background-size: auto 100%;
}
