/* 이런식으로 해당 태그에 css 적용하면 커스텀 할수 있어요!
그리고 page.tsx에 가보면 캘린더를 사용할때 프롭으로 연으로 이동하는 페이지네이션을 null으로 처리할수도 있고
여기서 보시면 해당태그를 위치를 앱솔루트를 주어서 우리가 원하는 위치로 이동 시킬수 있어요
*/
.react-calendar__navigation {
  background: pink;
  border-bottom: 4px solid brown;
  height: 90px;
  border-radius: 20px 20px 0 0;
}

.react-calendar__navigation span {
  font-size: 24px;
  font-weight: 600;
  color: brown;
}

.react-calendar__navigation button:disabled {
  background-color: pink;
  border-radius: 20px 20px 0 0;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: pink;
  border-radius: 20px 20px 0 0;
}

/* 월 달력 (내비게이션 제외) */
.react-calendar__month-view {
  padding: 12px 32px;
}

.react-calendar__month-view abbr {
  /* 텍스트 스타일 */
  color: brown;
  font-size: 16px;
  font-weight: 500;
}

.react-calendar__month-view__weekdays {
  abbr {
    font-size: 18px;
    font-weight: 900;
  }
}

.react-calendar__tile {
  text-align: center;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/*hover, focus, 선택됐을 시 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  background: blue;
  border-radius: 14px;
}

.react-calendar__tile--now {
  background: lime;
  border-radius: 14px;
}

/* hover, focus 시 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  background: blue;
  border-radius: 14px;
}
