.custom-calendar {
  border: none;
  padding: 0;
}

.custom-calendar .react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

/* 캘린더 & 도넛차트의 반응형 설정 */
.calendar-wrapper,
.chart-wrapper {
  width: 100%;
  max-width: 640px; /* 데스트탑 기준 최대너비 설정 */
  margin: 0 auto; /* 가운데 정렬 */

  @media (max-width: 384px) {
    .calendar-wrapper,
    .chart-wrapper {
      width: 100%;
    }
  }

  @media (max-width: 312px) {
    .calendar-wrapper,
    .chart-wrapper {
      width: 100%;
    }
  }
}

.custom-calendar
  .react-calendar__navigation
  .react-calendar__navigation__label {
  order: 1; /* 연월 이름 왼쪽에 위치 */
  flex-grow: 1;
  text-align: left;
  pointer-events: none; /* 클릭 및 모든 이벤트를 비활성화 */
}

.custom-calendar .react-calendar__navigation button {
  order: 2; /* 페이지네이션 버튼 오른쪽에 위치 */
  background-color: transparent;
  border: none;
  padding: 0;
  width: 20px; /* 버튼의 너비 설정 */
  height: 20px; /* 버튼의 높이 설정 */
}

.custom-calendar .react-calendar__navigation .pagination-controls {
  display: flex;
  gap: 16px; /* 버튼들 사이의 간격 설정 */
}

.custom-calendar .react-calendar__navigation button img {
  display: block;
  width: 100%; /* 이미지가 버튼 크기에 맞게 조정되도록 설정 */
  height: 100%; /* 이미지가 버튼 크기에 맞게 조정되도록 설정 */
}

.react-calendar__navigation {
  background: transparent;
  height: 30px;
}

.react-calendar__navigation span {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: #373737;
}

/* 월 달력 (내비게이션 제외) */
.react-calendar__month-view {
  padding: 0px;
}

.react-calendar__month-view abbr {
  /* 텍스트 스타일 */
  color: #c4c4c4;
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  font-family: 'pretendard';
}

.react-calendar__month-view__weekdays {
  border-top: 1px solid #eceff4;
  border-bottom: 1px solid #eceff4;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0;
}

.react-calendar__month-view__weekdays abbr {
  text-decoration: none; /* 밑줄 제거 */
  font-size: 16px;
  font-weight: 600;
}

.react-calendar__tile {
  text-align: center;
  width: 44px;
  height: 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-bottom: 1px solid #eceff4 !important;
  padding: 0;
}

/* hover, focus, 선택됐을 시 */
.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus,
.react-calendar__tile--active {
  border: 3px solid #e46e80 !important;
  border-radius: 3px;
  background-color: transparent;
  color: #e46e80 !important;
}

.react-calendar__tile--now {
  border: 3px solid #e46e80 !important;
  border-radius: 3px;
  background-color: transparent;
}

.react-calendar__tile--now abbr {
  color: #e46e80;
}

/* hover, focus 시 */
.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
  border: 3px solid #e46e80;
  border-radius: 3px;
}

.emotion-day abbr {
  font-size: 8px;
  line-height: 16px;
}
